{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.product) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.tipo) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.cantidad) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.descripcion) }}
            </div>
        </div>
    </div>
    <div class="card-footer text-end">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i> {{ button_label|default('Guardar') }}
        </button>
    </div>
</div>
{{ form_end(form) }}
