{% extends 'home/base.html.twig' %}

{% block title %}Categoría{% endblock %}

{% block breadcrumbs %}
  {% include 'partials/_breadcrumbs.html.twig' with {
    items: [
      { label: 'Categorías', route: 'app_categoria_index' },
      { label: categorium.nombre, active: true }
    ]
  } %}
{% endblock %}

{% block content %}
    {% set cardBody %}
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th style="width: 200px;">Id</th>
                    <td>{{ categorium.id }}</td>
                </tr>
                <tr>
                    <th style="width: 200px;">Nombre</th>
                    <td>{{ categorium.nombre }}</td>
                </tr>
                <tr>
                    <th style="width: 200px;">Descripción</th>
                    <td>{{ categorium.descripcion }}</td>
                </tr>
            </tbody>
        </table>
    {% endset %}

    {% set cardFooter %}
        <div class="d-flex gap-2">
            <a class="btn btn-secondary" href="{{ path('app_categoria_index') }}">Volver al listado</a>
            <a class="btn btn-info" href="{{ path('app_categoria_edit', {'id': categorium.id}) }}">Editar</a>
            {{ include('categoria/_delete_form.html.twig') }}
        </div>
    {% endset %}

    {% include 'partials/_card.html.twig' with {
        title: 'Categoría',
        content: cardBody,
        footer: cardFooter,
        color: 'light'
    } %}
{% endblock %}
