{% extends 'home/base.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Name</th>
                <th>Fecha_cumpleanos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>

                        {# Si tiene más de un rol, mostrarlos todos #}
                        {% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                <span class="badge bg-danger">Administrador</span>
                            {% elseif role == 'ROLE_USER' %}
                                <span class="badge bg-success">Usuario</span>
                            {% else %}
                                <span class="badge bg-secondary">{{ role }}</span>
                            {% endif %}
                        {% endfor %}

                </td>
                <td>{{ user.name }}</td>
                <td>{{ user.fechaCumpleanos ? user.fechaCumpleanos|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-warning btn-sm" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_user_new') }}">Crear nuevo usuario</a>
{% endblock %}



